# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log

apps/**/types

mp/win/*
mp/linux/*
!mp/win/.gitkeep
!mp/linux/.gitkeep
crashdumps
cache
./resources/core

**/tsconfig.tsbuildinfo
